<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body id="body_login">
    <main class="container">
        <div class="d-flex justify-content-center">
            <div class="col-xs-12 col-lg-6 col-md-7">
                    <form id="signin" name="signin" method="post" action="/admin/signin">
                            <h1>Login Form</h1>
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <input name="email" type="text" class="form-control" id="email"/>    
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input name="password" type="password" class="form-control" id="password"/>
                            </div>
                            <p>Need an account?</p>
                            <a href="/admin/signup" target="_parent">Click here</a></br></br>
                            <input class="btn btn-danger" type="submit" value="Sign In" class="btn btn-primary"/>
                            <script data-defer="defer">
                                function getParameterByName(name, url) {
                                    if (!url){
                                        url = window.location.href;
                                    }
                                    name = name.replace(/[\[\]]/g, '\\$&');
                                    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                                        results = regex.exec(url);
                                    if (!results) return null;
                                    if (!results[2]) return '';
                                    return decodeURIComponent(results[2].replace(/\+/g, ' '));
                                }
                                (function(){
                                    var fakeLogin = getParameterByName('fakeLogin');
                                    if(fakeLogin){
                                        document.querySelector("#email").value="invited_user@gmail.com";
                                        document.querySelector("#password").value="79461313";
                                    }
                                })()
                            </script>
                    </form>
            </div>
        </div>
    </main>
</body>
</html>