[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=CR
ST=Heredia
L=San Rafael
O=leonardoaranibarsanchez
OU=leonardoaranibarsanchez
emailAddress=laranibarsanchez@gmail.com
CN = localhost